<div>
    <h2>Eliminar mensaje por ID</h2>
    <form (ngSubmit)="eliminarMensaje()">
      <div>
        <label for="id">ID del mensaje:</label>
        <input id="id" [(ngModel)]="id" name="id" required />
      </div>
      <button type="submit">Eliminar mensaje</button>
    </form>
    
    <!-- Mostrar mensaje de éxito -->
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>
  
    <!-- Mostrar mensaje de error -->
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  </div>
  
